 # 48 MHz EZ-USB clock 
NET "clk" TNM_NET = "clk";
TIMESPEC "ts_clk" = PERIOD "clk" 31.25ns HIGH 50 %;
NET "clk"  LOC = "P89" | IOSTANDARD = LVCMOS33 ;

NET "led<0>"  LOC = "P18" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "led<1>"  LOC = "P23" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "led<2>"  LOC = "P26" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "led<3>"  LOC = "P33" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "led<4>"  LOC = "P35" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "led<5>"  LOC = "P40" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "led<6>"  LOC = "P53" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "led<7>"  LOC = "P57" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;

NET "rst"     LOC = "P86"  | IOSTANDARD = LVCMOS33 | PULLUP ; 
 